
# 1. Evaluate the GDP Dataset

#### 1: View and add the dataset

In [3]:
#Import required library

import numpy as np

In [4]:
#Manually add the dataset

countries = np.array(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh',
'Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia',
'Cameroon','Chile','China','Colombia','Cyprus','Denmark',
'El Salvador','Estonia','Ethiopia','Fiji','Finland',
'France','Georgia','Ghana','Grenada','Guinea','Haiti',
'Honduras','Hungary','India','Indonesia','Ireland',
'Italy','Japan','Kenya', 'South Korea','Liberia',
'Malaysia','Mexico', 'Morocco','Nepal','New Zealand',
'Norway','Pakistan', 'Peru','Qatar','Russia','Singapore',
'South Africa','Spain','Sweden','Switzerland','Thailand', 
'United Arab Emirates','United Kingdom','United States',
'Uruguay','Venezuela','Vietnam','Zimbabwe'])

gdp = np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,
                588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,
                590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,
                30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,
                23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,
                1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,
                39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,
                1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,
                36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,
                39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,
                5671.912202,757.4009286,347.7456605])

#### 2: Find and print the name of the country with the highest GDP

In [5]:
#Use the argmax() method to find the highest GDP

highest_gdp = gdp.argmax()
highest_gdp

45

In [6]:
#Print the name of the country
country = countries[highest_gdp]
country

'Norway'

#### 3: Find and print the name of the country with the lowest GDP

In [7]:
#Use the argmin() method to find the lowest GDP


lowest_gdp = gdp.argmin()
lowest_gdp

21

In [9]:
#Print the name of the country

lowest_gdp_country = countries[lowest_gdp]
lowest_gdp_country

'Ethiopia'

#### 4: Print out text ('evaluating country') and input value ('country name') iteratively

In [16]:
#Use a for loop to print the required output

for name in countries:
    print ('evaluating country {}'.format(name))

evaluating country Algeria
evaluating country Angola
evaluating country Argentina
evaluating country Australia
evaluating country Austria
evaluating country Bahamas
evaluating country Bangladesh
evaluating country Belarus
evaluating country Belgium
evaluating country Bhutan
evaluating country Brazil
evaluating country Bulgaria
evaluating country Cambodia
evaluating country Cameroon
evaluating country Chile
evaluating country China
evaluating country Colombia
evaluating country Cyprus
evaluating country Denmark
evaluating country El Salvador
evaluating country Estonia
evaluating country Ethiopia
evaluating country Fiji
evaluating country Finland
evaluating country France
evaluating country Georgia
evaluating country Ghana
evaluating country Grenada
evaluating country Guinea
evaluating country Haiti
evaluating country Honduras
evaluating country Hungary
evaluating country India
evaluating country Indonesia
evaluating country Ireland
evaluating country Italy
evaluating country Japan
evaluating country Kenya
evaluating country South Korea
evaluating country Liberia
evaluating country Malaysia
evaluating country Mexico
evaluating country Morocco
evaluating country Nepal
evaluating country New Zealand
evaluating country Norway
evaluating country Pakistan
evaluating country Peru
evaluating country Qatar
evaluating country Russia
evaluating country Singapore
evaluating country South Africa
evaluating country Spain
evaluating country Sweden
evaluating country Switzerland
evaluating country Thailand
evaluating country United Arab Emirates
evaluating country United Kingdom
evaluating country United States
evaluating country Uruguay
evaluating country Venezuela
evaluating country Vietnam
evaluating country Zimbabwe

#### 5: Print out the entire list of the countries with their GDPs

In [21]:
#Use a for loop to print the required list

for i in range(len(countries)):
    country = countries[i]
    gdp_country = gdp[i]
    print('Country {} per capita gdp is {}'.format(country, gdp_country))

Country Algeria per capita gdp is 2255.225482
Country Angola per capita gdp is 629.9553062
Country Argentina per capita gdp is 11601.63022
Country Australia per capita gdp is 25306.82494
Country Austria per capita gdp is 27266.40335
Country Bahamas per capita gdp is 19466.99052
Country Bangladesh per capita gdp is 588.3691778
Country Belarus per capita gdp is 2890.345675
Country Belgium per capita gdp is 24733.62696
Country Bhutan per capita gdp is 1445.760002
Country Brazil per capita gdp is 4803.398244
Country Bulgaria per capita gdp is 2618.876037
Country Cambodia per capita gdp is 590.4521124
Country Cameroon per capita gdp is 665.7982328
Country Chile per capita gdp is 7122.938458
Country China per capita gdp is 2639.54156
Country Colombia per capita gdp is 3362.4656
Country Cyprus per capita gdp is 15378.16704
Country Denmark per capita gdp is 30860.12808
Country El Salvador per capita gdp is 2579.115607
Country Estonia per capita gdp is 6525.541272
Country Ethiopia per capita gdp is 229.6769525
Country Fiji per capita gdp is 2242.689259
Country Finland per capita gdp is 27570.4852
Country France per capita gdp is 23016.84778
Country Georgia per capita gdp is 1334.646773
Country Ghana per capita gdp is 402.6953275
Country Grenada per capita gdp is 6047.200797
Country Guinea per capita gdp is 394.1156638
Country Haiti per capita gdp is 385.5793827
Country Honduras per capita gdp is 1414.072488
Country Hungary per capita gdp is 5745.981529
Country India per capita gdp is 837.7464011
Country Indonesia per capita gdp is 1206.991065
Country Ireland per capita gdp is 27715.52837
Country Italy per capita gdp is 18937.24998
Country Japan per capita gdp is 39578.07441
Country Kenya per capita gdp is 478.2194906
Country South Korea per capita gdp is 16684.21278
Country Liberia per capita gdp is 279.2204061
Country Malaysia per capita gdp is 5345.213415
Country Mexico per capita gdp is 6288.25324
Country Morocco per capita gdp is 1908.304416
Country Nepal per capita gdp is 274.8728621
Country New Zealand per capita gdp is 14646.42094
Country Norway per capita gdp is 40034.85063
Country Pakistan per capita gdp is 672.1547506
Country Peru per capita gdp is 3359.517402
Country Qatar per capita gdp is 36152.66676
Country Russia per capita gdp is 3054.727742
Country Singapore per capita gdp is 33529.83052
Country South Africa per capita gdp is 3825.093781
Country Spain per capita gdp is 15428.32098
Country Sweden per capita gdp is 33630.24604
Country Switzerland per capita gdp is 39170.41371
Country Thailand per capita gdp is 2699.123242
Country United Arab Emirates per capita gdp is 21058.43643
Country United Kingdom per capita gdp is 28272.40661
Country United States per capita gdp is 37691.02733
Country Uruguay per capita gdp is 9581.05659
Country Venezuela per capita gdp is 5671.912202
Country Vietnam per capita gdp is 757.4009286
Country Zimbabwe per capita gdp is 347.7456605

#### 6: Print the following:
1. Highest GPD value
2. Lowest GDP value
3. Mean GDP value
4. Standardized GDP value
5. Sum of all the GDPs

In [23]:
print('The highest Gdp value is {}'.format(gdp.max()))

The highest Gdp value is 40034.85063

In [24]:
print('The lowest Gdp value is {}'.format(gdp.min()))

The lowest Gdp value is 229.6769525

In [25]:
print('The mean Gdp value is {}'.format(gdp.mean()))

The mean Gdp value is 11289.409271639683

In [27]:
print('The standard Gdp value is {}'.format(gdp.std()))

The standard Gdp value is 12743.828910617945

In [28]:
print('The sum of all Gdp value is {}'.format(gdp.sum()))

The sum of all Gdp value is 711232.7841133